body {
    background-color:#333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px;
  }
 
  h1{
    text-decoration:underline;
    text-align: center;
    color: mediumpurple;
 }
 
  h2 {
     color:mediumpurple;
     text-align: center;
     font-weight: bold;
 
  }
 
  p{
     font-family: Arial, Helvetica, sans-serif;
     text-align:justify;
     font-size: medium;
     font-style: oblique;
     
  }
      
 figure{
   text-align: center;
 }
 
 img {
    max-width: 400px;
    max-height: 200px;
    border: 5px solid mediumslateblue;
  }
 
  ul:hover{
    list-style-type:none;
    list-style-image:url(../css/imagenes/corazon\ \(1\).png);
  }
  
  ol {
    color: mediumslateblue;
 
  }
 
  h2 >a {
    background-color: mediumpurple;
    display:inline-block;
    color:beige;
    padding: 10px;
    margin: 20px 40px 70px 100px;
    text-align:left;
 }
 
 h3{
    text-decoration:underline;
    text-align: center;
    color: mediumpurple;
 }